body {
    background-color: black;
    font-family: 'Saira Semi Condensed', sans-serif;
}

#clockDisplay {
    color: white;
    text-align: center;
    font-size: 150pt;
    text-decoration: underline;
}